# String And fstring in detail

# Strings are defined in particular boundaries ( we have 4 special characters)
 - ' '
 - " "
 - """ """
 - ''' '''

In [4]:
name : str = ' Wasam '
father_name : str = " Ch Safdarn ALi"
gender_and_dob : str = """gender:  Male 
dob : 14-03-1998
"""
organization_name_and_description : str = ''' company : Google
description : It is an IT company  '''  
print("Name = ",name )
print("Name = " + name )
display(" Father Name =  " + father_name)
print(gender_and_dob)
display(organization_name_and_description)

Name =   Wasam
Name =  Wasam

' Father Name =   Ch Safdarn ALi'

gender:  Male
dob : 14-03-1998

' company : Google\ndescription : It is an IT company  '

# From the above example you can see clearly that thers is a difference between print and display 

- print () : Prints by converting the code into string first

- display() : prints by keeping the code same as original one

# To check the Type of variable

In [4]:
display(type(name))

str

# Few more rules to use the special characters

- for apos's we need to pack it in " "

In [5]:
safdar : str = "  Wasam's father name"
print(safdar)

  Wasam's father name

 * for Quotes  we need to pack it in ' '

In [6]:
quote_of_the_day : str = ' " Democracy is the best revenge "  '
print(quote_of_the_day)

 " Democracy is the best revenge "

- Convert any special character into simple character place \ before character

In [13]:
ali : str = " Wasam\'s brother"
print(ali)

 Wasam's brother

# More IMP syntaxt

- /n   next line
- /b   backspace
- /t   tab

# fstring

- syntaxt 
- f """ """
- we can use placeholders { }

- as in javascript we use ` `

In [70]:
print(f"my name is {name}")

my name is  Wasam

In [3]:
card : str = f"""
Name : {name}
Father Name : {father_name}
"""
print(card)

Name :  Wasam
Father Name :  Ch Safdarn ALi

# Error to notice

In [4]:
    university_name : str = "Air University "

# The red line at the start of above line is an error 
# indentation shows it's a body of block 

# Like if or for loop etc

# Concatination

In [7]:
adding_two_strings = "Wasam  " +  "Ali " 
print(adding_two_strings)

Wasam  Ali

In [8]:
adding_string_and_number = "Wasam  " +  700 

print(adding_two_strings)

# error

TypeError: can only concatenate str (not "int") to str

# We can also write string as

In [9]:
fav_number : str = str(789)
print(fav_number)

789

# Lines end with \ ( \ at the end of line means line continue)

In [8]:
print("Wasam" \
    "Ur" \
    "Rehman")

Wasam Ur Rehman

# jinja style

In [9]:
card : str = """
Name : {{ name }}
Father Name : {{father_name}}
"""
# yeh directly asa support nahi karta lakin jab html ka sath attach hota ha tab yeh support karta ha 
print(card)

Name : {{ name }}
Father Name : {{father_name}}

# python has other ways as well as alternative to fstring but the most used is fstring

# STRING METHODS

- dir(str) will return all methods and attributes of str object

In [20]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

- variablename + . + function + ()

In [28]:
school_name : str = "islamabad college for boys"
fav_color = " Black"
print(school_name)

islamabad college for boys

In [26]:
school_name.upper()

'ISLAMABAD COLLEGE FOR BOYS'

In [29]:
fav_color.lower()

' black'

In [33]:
fav_color.casefold()

#matlab kisi bhi case ko follow nahi karna 
#sab ko small kar do

' black'

In [31]:
school_name.title()

'Islamabad College For Boys'

In [32]:
fav_color.title()

' Black'

- Execution function

In [41]:
add_two_num  = f"""

a : int = 10
b: int =4
print(a + b)


""" 

exec(add_two_num)

14

In [42]:
print(len(add_two_num))

40

In [43]:
print(id(add_two_num))

1831318143216

In [44]:
print(type(add_two_num))

<class 'str'>

In [45]:
display(type(add_two_num))

str

# Removing spaces

In [3]:
fav_game : str = "     foot     ball    "

fav_game.rstrip()

'     foot     ball'

In [4]:
fav_game.lstrip()

'foot     ball    '

In [6]:
fav_game.strip()

'foot     ball'

- To remove spaces from middle also

- Use substitution method

In [7]:
import re 

# re stands for regular expression
#  Regular expressions are a powerful tool for string manipulation.

fav_game1 : str  = re.sub( " {2,100} " ," " , fav_game)
display(fav_game1)

# re.sub() is a function that substitutes occurrences of a pattern in a string with another string.
# " {2,100}": This is a regular expression pattern. It matches 2 to 100 consecutive spaces in a string.
# " ": This is the replacement string. It replaces the matched pattern with an empty string (i.e., it removes the matched spaces).
# fav_game: This is the input string where the substitution operation is performed.

' foot ball '

In [19]:
import re 

# re stands for regular expression

fav_game1 : str  = re.sub( " " ,"-" , fav_game)
display(fav_game1)

'-----foot-----ball----'

* Another method

In [24]:
my_fav_name:str = "Chaudhry Wasam Ur Rehman"

my_fav_name.replace(" ","-")

'Chaudhry-Wasam-Ur-Rehman'

In [69]:
import re 

# re stands for regular expression

fav_game1 : str  = re.sub( "foot" ,"basket" , fav_game).strip()
display(fav_game1)

'basket     ball'

# Removing Prefix and suffix

In [10]:
website_url : str = "https://wasam.io"
website_url.removeprefix("https://")

'wasam.io'

In [25]:
website_url1 : str = "https://wasam.io"
website_url1.replace("https://","")

'wasam.io'

In [73]:
website_url.removesuffix("wasam.io")

'https://'

# Naming Convention

# Correct Name

- piaic_student_name
- name1
_ _name1

# Wrong name 

- 1name